/*Start Google Fonts Import*/
   @import url(http://fonts.googleapis.com/css?family=Iceland);
/*End Google Fonts Import*/
html{
   height: 100%;
}

body{
   height: 100%;
   overflow: auto;
   font-family: Iceland,sans-serif;
}

.errorHidden{
   display: none;
   background-color: #036f3d;
   border-color: #036f3d;
   color: white;
}

.mainPanel{ 
	height:100%; 
	width:100%; 
	top: 0; 
	left:0; 
	bottom:0; 
	right:0;
	overflow: auto; 
	display:block;
	max-width: 758px;
	max-height: 1158px;
   min-width: 708px;
	margin:auto; 
	background: white;
	overflow:visible;
   opacity:1;
}

.barTop{
   position:relative; 
   width: 100%; 
   min-width:690px; 
   max-width:758px; 
   height:52px; 
   background:url('../img/barcontact.jpg');
}

.bs-callout-info {
   border-color: #5bc0de;
}

.bs-callout {
   margin: 20px 0;
   padding: 20px;
   border-left: 3px solid #036f3d;
}

.icon-d {
    color: #036f3d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #036f3d;
}

.stepLabel{
   position: relative;
   top: -12px;
   left: -42px;
   

font-family: Iceland,sans-serif;
   font-size: 30px;
   font-weight: bolder;
}

.stepIcon{
   position: relative;
   top: -20px;
   left: -61px;
}

.stepHeading{
   position: relative;
   top: -21px;
   left: -30px;
   

font-family: Iceland,sans-serif;
   font-size: 16px;
}

.stepContent{
   padding-left: 189px;
}

.stepContentClusterType{
   padding-left: 65px;
   padding-right: 0;
   width: 640px;
}

.controlTip{
   font-weight: 400;
   line-height: 1;
   color: #999;
   margin-left:42px;
}

.clickable{
   cursor: pointer;
}

.clickable:hover{
   border-color: #036f3d;
}

.clickable:hover .panel-heading{
   background: #036f3d;
}

.create:hover{
   color: #036f3d;
}

.agreeStatement{
   position: relative;
   left: 23px;
   bottom: 29px;
   color: #999;
}
.orangeLink{
   color: #036f3d;
   cursor: pointer;
   text-decoration: underline;
}
.btnHover{
   background-color:#036f3d;
   color: white;
}
.btnHover:hover{
   background-color:  white;
   color: #036f3d;
}

.curtain{
   background:rgba(0, 0, 0, 0.729412);
				position:fixed; 
	height:100%; 
	width:100%; 
	top: 0; 
	bottom:0; 
	right:0;
	left:0;
	display:none;
	margin:auto; 
	opacity:1;	
	z-index:100;
}

.terms{
   display:none;
}

.subSection{
	height:100%; 
	width:100%; 
	top: 0; 
	left:0; 
	bottom:0; 
	right:0;
   position: absolute;
	overflow: auto; 
	display:none;
   max-width: 637px;
   max-height: 613px;
   min-width: 598px;
	margin:auto; 
	background: white;
   opacity:1;
   border-radius: 5px;
}

.pageHeader{
   float: right;
   color: #036f3d;
   font-family: Iceland,sans-serif;
   font-size: 15px;
   margin-top: 61px;
   margin-right: 15px;
}

.pageHeaderFill{
   border-bottom: 1px solid #036f3d; 
   width:100%;  
   position:relative; 
   height:113px; 
   background-color:white;
}

.logo{
   margin-left: 10px;
   margin-top: 5px;
}

.lead{
   padding-left: 10px; 
   font-size: 21px;
   position:absolute;
   font-weight: 200;
   line-height: 1.4;
   margin-left: 121px;
   top: 62px;
   text-shadow: 0px 3px 2px rgba(150, 150, 150, 1);
}
.footerModal{
   width: 613px;
}
.signOut{
   float: right;
   color: black;
   

font-family: Iceland,sans-serif;
   font-size: 30px;
   margin-top: 9px;
   margin-right: 15px;
   cursor:pointer;
}
.menu{
   position:relative;
   float:right;
}
.menuItemLabel{
   color: #036f3d;
}
a.active{
   background-color: #ff8433;
   color: white;
}
.fa-play {
    color: green;
}
.fa-stop,  .fa-times {
    color: red;
}
#mainPanel{
   width: 500px;
}
#instancePanel{
   width: 715px;
}
#instanceInfo{
   
}
.bootstrap-dialog.type-primary .modal-header{
   background-color: #036f3d;
}
.btn-primary{
   background-color: white;
   color: black;
   border-color: #ccc;
}
.tagContainer{
   width:690px; 
   height: 158px; 
   overflow:hidden;
   position: relative; 
   top: -19px; 
   left: -5px;
}
.tagBackground{
   width:100%; 
   height:auto; 
   position:relative;
   top:-26px;
}
.tagSideLine{
   height: 160px;
}
.wellSection{
   padding-bottom: 0;
   margin-bottom: 0;
   padding-top: 0;
   margin-top: 0;
   border:none; 
   box-shadow:none;
   background-color:white;
}
.clusterDetails{
   font-size:15px;
}
.modal-header {
   background-color: #036f3d;
   color: white;
}
.systemTitle{
   color: #036f3d;
}
.jumbotron {
   margin-top: 10px;
   border-radius: 10px;
   background-color: #FFFFFF;
   border: none;
   padding: 5px;
}
.panel-default>.panel-heading {
   color: #333;
   background-color: #f5f5f5;
   border-color: #ddd;
   font-size: 24px;
}

.tableSection{
}

.rowMenu{
	width: 90px;
}

.sectionMainDiv{
}

.loadingStatus{
   position:fixed;
   right: 67px;
   top: 10px;
   font-size: 19px;
   -moz-box-shadow: 0 0 2px 2px #888;
   -webkit-box-shadow: 0 0 2px 2px#888;
   box-shadow: 0 0 2px 2px #888;
   padding: 5px;
   display:none;
   background-color: white;
}
.hidePanel, .hideFacSelect{
   display:none;
}